<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDfYbDdxkBejaj5f2sc_PwySmh9Eg8PcY</string>
	<key>GCM_SENDER_ID</key>
	<string>652403958133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.watershed.pawatershedwatch</string>
	<key>PROJECT_ID</key>
	<string>central-pa-watershed-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>central-pa-watershed-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:652403958133:ios:40b4943afa0e6e0086f33c</string>
</dict>
</plist>
